@font-face {
    font-family: Poppins;
    src:url("../FONTS/Poppins-Regular.ttf");
}

*{
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: Poppins;
	text-align: center;
	position: relative;
}

html, body{
	
}

h2{
	font-size: 2em;
}

.details{
	width: 300px;
	height: 600px;
	text-align: left;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 25%);
}
.details form input{
	width:100%
}

input{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	font-size: 1.2rem;
	color: #555;
	text-align: center;
}

.underline{
	border-bottom: 2px solid #d9d9d9;
}

input[type="date"] {
	text-align: center;
    appearance: none;
    font-size: 1em;
    -webkit-appearance: none;
    width: 255px;
    color: #95a5a6;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

select{
	background: none;
	border: none;
	font-size: 1em;
	border-bottom: 2px solid #d9d9d9;
	-webkit-appearance: none;
    -moz-appearance: none;
}

form{
	font-size: 2em;
}

.Error{
	font-size: 1.6em;
}
button{
	display: block;
	width: 50%;
	height: 50px;
	left: 25%;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #0000FF, #0000CD, #00008B);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

button:hover{
	background-position: right;
}

@media screen and (max-width: 900px){
	h2{
	font-size: 2em;
	}
	form{
		font-size: 1.6em;
	}
	p1{
		font-size: 1.2em;
	}
	input{
		font-size: 1.2em;
	}
}
