<!DOCTYPE html>
   <head>
      <title>Canteen Transactions</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/canteen.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
	  <form action="/emdash/{{ ID }}">
		  <button name="dashboard" type="submit">Go To Dashboard</button>
	  </form>
      <h2>Canteen Transactions</h2>
      <div class="details">
		  <form action="/emdash/canteen/check/{{ ID }}" method="post">
			  Start Date: <div class="underline"><input type="date" name="StartDate" required></div> <br />
			  End Date: <div class="underline"><input type="date" name="EndDate">  <br /></div>
			  <button type="submit" name= "form">SUBMIT</button>
		  </form>
		  {% if rows %}
	      <div class="Transactions">
	         <table border = 1>
	         <thead>
	            <td>TIMESTAMP</td>
	            <td>Amount</td>
	         </thead>
	         
	         {% for row in rows %}
	            <tr>
	               <td>{{row["TIMESTAMP"]}}</td>
	               <td>{{row["AMOUNT"]}}</td>
	            </tr>
	         {% endfor %}
	         </table>
	      </div>
      	  {% endif %}
      </div>
      <p1 class = 'Error'>{{ Error }}</p1>
   </body>
</html>