<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="img">
      <img src="{{ url_for('static', filename='RES/login.svg') }}" alt="login">
    </div>
    <div class="login-content">
      <form action="/emlogin/check" method="post">
        <img src="{{ url_for('static', filename='RES/login_avatar.svg') }}" alt = "login_avatar">
        <h2 class="title">WELCOME</h2>
              <div class="input-div one">
                 <div class="i">
                    <i class="fas fa-user"></i>
                 </div>
                 <div class="div">
                    <h5>ID</h5>
                    <input type="text" class="input" name="ID" required>
                 </div>
              </div>
              <div class="input-div pass">
                 <div class="i"> 
                    <i class="fas fa-lock"></i>
                 </div>
                 <div class="div">
                    <h5>PIN</h5>
                    <input type="password" class="input" name="Pin" required minlength="4" maxlength="80">
                 </div>
              </div><br />
               <p1>{{ LoginError }}</p1>
              <input type="submit" class="btn" value="LOGIN" name="form">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='JS/login.js') }}"></script>
</body>
</html>