<!DOCTYPE html>
   <head>
      <title>Salary Calculator</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/salary.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
	  <form action="/admdash/{{ ID }}">
		  <button name="dashboard" type="submit">Go To Dashboard</button>
	  </form>
      <h2>Sensor Readings</h2>
      <div class="details">
		  <form action="/admdash/salary/check/{{ ID }}" method="post">
		  	  ID: <div class="underline"><input type="number" name="emID" required></div> <br />
			  Start Date: <div class="underline"><input type="date" name="StartDate" required></div> <br />
			  End Date: <div class="underline"><input type="date" name="EndDate">  <br /></div>
			  <button type="submit" name= "form">SUBMIT</button>
		  </form><br />
		  {% if FinalSalary %}
		  <br />
	      <div class="result">
			  <h2>RESULT</h2>
			  SALARY : {{salary}}<br />
			  Canteen Transactions Total : {{Ctransactions}}<br />
			  Final Salary : {{FinalSalary}}<br />
	      </div>
      	  {% endif %}
      </div>
      <p1 class = 'Error'>{{ Error }}</p1>
   </body>
</html>